@model TMXN.Web.ViewModels.Teams.ListRanklistTeamViewModel

@{ int counter = 1;}

<h1><a asp-area="Administration" asp-controller="Teams" asp-action="SendAward" type="button" class="btn btn-primary center-block btn-sm">REWARD A TEAM!</a></h1>
<table class="table table-hover table-light">
    <thead class="table-dark">
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Logo</th>
            <th scope="col">Team</th>
            <th scope="col">Points</th>

            <th scope="col">Promote</th>
            <th scope="col">Demote</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Teams)
        {
            <tr>
                <th scope="row">@counter</th>

                <td><img class="mr-3" src="@team.Logo" width="60" alt="Generic placeholder image"></td>
                <td>@team.Name</td>
                <td>@team.Points</td>

                <td><a asp-area="Administration" asp-controller="Teams" asp-action="Win" asp-route-id="@team.Id" type="button" class="btn btn-primary center-block btn-sm">Win</a></td>
                <td><a asp-area="Administration" asp-controller="Teams" asp-action="Lose" asp-route-id="@team.Id" type="button" class="btn btn-danger center-block btn-sm">Lose</a></td>
            </tr>
            counter++;
        }


    </tbody>
</table>


