
@model TMXN.Web.ViewModels.Tournaments.TournamentsListViewModel
@using Microsoft.AspNetCore.Identity
@using TMXN.Data.Models

@inject UserManager<ApplicationUser> userManager
@{
    this.ViewData["Title"] = "Available Tournaments";
}

@{var currentUser = await this.userManager.GetUserAsync(this.User); }

<h1 class="display-4"><span class="badge badge-success">@this.ViewData["Title"]</span></h1>


@if (currentUser.TeamId == null)
{
    <h1>It seems like you don't have a team to participate in the tournaments. Click <a asp-controller="Teams" asp-action="ShowAll">here</a> to join a team!</h1>
}
else
{
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">###</th>
                    <th scope="col">Tournament Name</th>
                    <th scope="col">Organizer</th>
                    <th scope="col">Enroll</th>
                    <th scope="col">##</th>

                </tr>
            </thead>

            @foreach (var tournament in Model.Tournaments)
            {
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>@tournament.Name</td>
                        <td>@tournament.Organizer</td>



                        @if (tournament.TeamId != currentUser.TeamId)
                        {

                            @*<td><a asp-controller="Tournaments" asp-action="Out" asp-route-id="@tournament.Id" type="button" class="btn btn-primary center-block btn-sm">Out!</a></td>*@
                            <td><a asp-controller="Tournaments" asp-action="Participate" asp-route-id="@tournament.Id" type="button" class="btn btn-primary center-block btn-sm">Participate!</a></td>
                        }
                        else
                        {
                            <td>Already enrolled</td>
                        }





                        <td><a asp-controller="Tournaments" asp-action="Info" asp-route-id="@tournament.Id" type="button" class="btn btn-primary">Info</a></td>

                    </tr>

                </tbody>
            }



        </table>

    </div>
}


