
@model TMXN.Web.ViewModels.Tournaments.TournamentsListViewModel
@using Microsoft.AspNetCore.Identity
@using TMXN.Data.Models

@inject UserManager<ApplicationUser> userManager
@{
    this.ViewData["Title"] = "Available Tournaments";
}

@{var currentUser = await this.userManager.GetUserAsync(this.User);
    }



@if (currentUser.TeamId == null)
{
    <h1>It seems like you don't have a team to participate in the tournaments. Click <a asp-controller="Teams" asp-action="ShowAll">here</a> to join a team!</h1>
}
else
{
    <h1 class="display-4"><span class="badge badge-success">@this.ViewData["Title"]</span></h1>

    <hr style="height: 5px;" class="bg-info" />

    <div class="d-flex justify-content-between">
        <div id="sort-holder" class="form-group w-40 d-flex justify-content-between">

            <label for="filter-tournaments" class="text-primary font-weight-bold w-30 h4 mt-1 text-right">Show only tournaments with game type...</label>
            <form id="order-form" asp-controller="Tournaments" asp-action="GetAll" method="get">

                <select id="filter-tournaments" class="form-control text-primary pl-2 ml-3 w-30" name="gametype">
                    <option value="none" selected>None</option>

                    <option value="LeagueOfLegends">League of legends</option>
                    <option value="Fortnite">Fortnite</option>
                    <option value="PUBG">PUBG</option>
                    <option value="CounterStrike">Counter-Strike</option>
                    <option value="all">All</option>
                </select>


            </form>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">###</th>
                    <th scope="col">Tournament Name</th>
                    <th scope="col">Organizer</th>
                    <th scope="col">Enroll</th>
                    <th scope="col">##</th>

                </tr>
            </thead>

            @foreach (var tournament in Model.Tournaments)
            {
                if (tournament.IsEliminate)
                {
                    <h1>Your team can no longer participate in any tournaments since it was eliminated!</h1>
                }
                else
                {
                    <tbody>
                        <tr>
                            <th scope="row">#</th>



                            @if (!tournament.IsFinished)
                            {
                                <td>@tournament.Name</td>
                                <td>@tournament.Organizer</td>

                                @if (tournament.TeamId != currentUser.TeamId)
                                {

                                    @*<td><a asp-controller="Tournaments" asp-action="Out" asp-route-id="@tournament.Id" type="button" class="btn btn-primary center-block btn-sm">Out!</a></td>*@
                                    <td><a asp-controller="Tournaments" asp-action="Participate" asp-route-id="@tournament.Id" type="button" class="btn btn-primary center-block btn-sm">Participate!</a></td>
                                }
                                else
                                {
                        <td><span class="badge badge-success">Already enrolled</span></td>
                                }
                            }
                            else
                            {
                                <td><span class="badge badge-dark">Finished</span> @tournament.Name</td>
                                <td>@tournament.Organizer</td>
                                <td><span class="badge badge-danger">Not available</span></td>

                            }



                            <td><a asp-controller="Tournaments" asp-action="Info" asp-route-id="@tournament.Id" type="button" class="btn btn-primary">Info</a></td>

                        </tr>

                    </tbody>
                }

            }



        </table>

    </div>
}


@section Scripts
{
    <script>

        $('#filter-tournaments').change(function () {
            $('#order-form').submit();
        });


    </script>
}