
@model TMXN.Web.ViewModels.Awards.AwardListViewModel
@using Microsoft.AspNetCore.Identity
@using TMXN.Data.Models

@inject UserManager<ApplicationUser> userManager
@{
    this.ViewData["Title"] = "Available Awards";
}

@{var currentUser = await this.userManager.GetUserAsync(this.User); }

<h1>@this.ViewData["Title"]</h1>
<h4><button onclick="location.href='@Url.Action("Create", "Awards")'" type="button" class="btn btn-primary center-block">CREATE AWARD!</button></h4>


<div class="row">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Award Name</th>
                <th scope="col">Placing Type</th>

                <th scope="col">##</th>
                <th scope="col">Rewardings</th>
            </tr>
        </thead>

       
        <tbody>
            @foreach (var award in Model.Awards)
            {
            <tr>

                <td>@award.Name</td>
                <td>@award.PlacingType</td>



                <td><a asp-controller="Awards" asp-action="Remove" asp-route-id="@award.Id" type="button" class="btn btn-primary">Remove</a></td>
                <td><a asp-controller="Awards" asp-action="Remove" asp-route-id="@award.Id" type="button" class="btn btn-primary">Transfer</a></td>
            </tr>
            }
            </tbody>
        



    </table>

</div>



