@model TMXN.Web.ViewModels.Brackets.BracketListViewModel
@using TMXN.Data.Models
@using TMXN.Common

@{
    var list = new List<string>();
    Dictionary<string, List<Team>> data = new Dictionary<string, List<Team>>();
}

<h1 class="display-4"><span class="badge badge-info">@GlobalConstants.Brackets</span></h1>


<hr style="height: 5px;" class="bg-info" />




@foreach (var bracket in Model.Brackets)
{
    if (!data.ContainsKey(bracket.TournamentName) && bracket.TournamentName != null)
    {
        var helper = new List<Team>();

        helper.AddRange(bracket.Teams);
        data.Add(bracket.TournamentName, helper);


    }
    else
    {
        data[bracket.TournamentName].AddRange(bracket.Teams);
    }

}

<div class="row">


    <div class="row">
        @foreach (var kvp in data)
        {
            if (!kvp.Value.Any(x => x.IsWinner))
            {
                <div class="row-sm-6">
                    <div class="card mr-3" style="width: 15rem;">
                        @if (kvp.Value.Count != 0)
                        {
                            <div class="card-header">
                                @kvp.Key
                            </div>

                            @foreach (var team in kvp.Value.OrderByDescending(x => x.Points))
                            {

                                <ul class="list-group list-group-flush">
                                    @if (!team.IsWinner && !team.IsEliminate)
                                    {

                                        <li class="list-group-item"><img src="@team.Logo" alt="Responsive image" class="img-fluid" width="40"> @team.Name</li>
                                    }



                                </ul>


                            }


                        }



                    </div>
                </div>
            }


        }
    </div>


</div>

<hr style="height: 5px;" class="bg-info" />

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    View all winners
</button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        @foreach (var kvp in data)
        {
            foreach (var team in kvp.Value)
            {
                
                if (team.IsWinner)
                {
                    <li class="list-group-item"><img src="@team.Logo" alt="Responsive image" class="img-fluid" width="40"> @team.Name <div><span class="badge badge-info">Winner</span></div></li>
                }
            }
        }

        <ul class="list-group list-group-flush">
        </ul>
    </div>
</div>





