@model TMXN.Web.ViewModels.Tournaments.ListingLatestTournamentsViewModel



<div class="h-50 d-inline-block" style="width: 220px; background-color: rgba(0,0,255,.1)">
    @Model.Header
    @foreach (var tournament in this.Model.LatestTournaments)
    {

        <ul class="list-group list-group-flush">

            <li class="list-group-item"><a asp-controller="Tournaments" asp-action="Info" asp-route-id="@tournament.Id"><span class="badge badge-secondary">New</span> @tournament.Name</a><br>Started on @tournament.CreatedOn.ToString("d")</li>

        </ul>


    }
    @Model.Footer
</div>