@model TMXN.Web.ViewModels.Teams.TeamsListViewModel
@using Microsoft.AspNetCore.Identity
@using TMXN.Data.Models
@inject UserManager<ApplicationUser> userManager


@{
    this.ViewData["Title"] = "Teams";
}

<h1>@this.ViewData["Title"]</h1>

@{string userId = userManager.GetUserId(this.User);}
@{var currUser = this.Model.Teams.Select(x => x.ApplicationUsers.Any(z => z.Id == userId)).FirstOrDefault(); }


<h4><button onclick="location.href='@Url.Action("Add", "Teams")'" type="button" class="btn btn-primary center-block">Create your own team!</button></h4>

<div class="row">

    @foreach (var team in this.Model.Teams)
    {

    <div class="card mr-3" style="width: 15rem;">
        <img class="card-img-top" src="@team.Logo" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@team.Name</h5>
            <h2 class="card-title">@team.Tag</h2>



            @if (team.ApplicationUsers.Any(x => x.Id == userId))
            {
                <a asp-controller="Teams" asp-action="Leave" asp-route-id="@team.Id" type="button" class="btn btn-primary center-block">Leave!</a>
            }
            else
            {
                <a asp-controller="Teams" asp-action="Join" asp-route-id="@team.Id" type="button" class="btn btn-primary center-block">Join us</a>
            }
            <a asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id" type="button" class="btn btn-primary center-block">Edit</a>
            <a asp-controller="Teams" asp-action="TeamInfo" asp-route-id="@team.Id" type="button" class="btn btn-primary center-block">Info</a>



        </div>
    </div>

    }
</div>





