
@model TMXN.Web.ViewModels.Teams.TeamInfoViewModel
@{
    this.ViewData["Title"] = "Team Info";
}

<h1>@this.ViewData["Title"]</h1>

<div class="card mr-3" style="width: 15rem;">
    <img class="card-img-top" src="@Model.Logo" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
</div>

<hr>

   
@if (Model.Awards.Count == 0)
{
    <h1>No awards</h1>
}
else
{
<div class="h-25 d-inline-block" style="width: 220px; background-color: rgba(0,0,255,.1)">
                    Awards
    @foreach (var award in this.Model.Awards)
    {

        <ul class="list-group list-group-flush">

            <li class="list-group-item">@award.Name</li>

        </ul>


    }
    
    

</div>
}

    <hr>
    <h2>Ranklist Points: @Model.Points.</h2>

    <hr>


    <div class="row">



        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Memberlist</th>
                    <th scope="col">Username</th>
                    <th scope="col">#</th>
                </tr>
            </thead>

            @foreach (var user in Model.ApplicationUsers)
            {
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>@user.UserName</td>
                        <td><a asp-controller="Teams" asp-action="RemovePlayer" asp-route-id="@user.Id" type="button" class="btn btn-primary center-block">Remove</a></td>
                    </tr>

                </tbody>
            }



        </table>
    </div>

    <hr>


    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Enrolled tournaments</th>
                    <th scope="col">Tournament Name</th>

                </tr>
            </thead>

            @foreach (var tournament in Model.Tournaments)
            {
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>@tournament.Name</td>


                    </tr>

                </tbody>
            }



        </table>

    </div>



