
@model TMXN.Web.ViewModels.Teams.TeamInfoViewModel
@{
    this.ViewData["Title"] = "Team Info";
}

<h1>@this.ViewData["Title"]</h1>

<div class="card mr-3" style="width: 15rem;">
    <img  class="card-img-top" src="@Model.Logo" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
</div>

<h2>Awards: @Model.AwardsCount.</h2>


<ul class="list-group">


    <li class="list-group-item list-group-item-primary">Memberlist:</li>

</ul>

    <div class="row">



        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>

                </tr>
            </thead>

            @foreach (var user in Model.ApplicationUsers)
            {
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td>@user.UserName</td>

                    </tr>

                </tbody>
            }
    


    </table>
        </div>










<ul class="list-group">



    <li class="list-group-item list-group-item-primary">Enrolled tournaments</li>

</ul>

<div class="row">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">###</th>
                <th scope="col">Tournament Name</th>

            </tr>
        </thead>

        @foreach (var tournament in Model.Tournaments)
        {
            <tbody>
                <tr>
                    <th scope="row">#</th>
                    <td>@tournament.Name</td>


                </tr>

            </tbody>
        }



    </table>

</div>



